.ProfilePage{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #E9EFF2;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: black;
}
.ResumeContainer{
    width: 70vw;
    max-width: 750px;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #5A7A81;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.201);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.ChessBoardPattern{
    height: 25px;
    display: flex;
    justify-content: space-between;
}
.ThreeIconPattern{
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}