.ProfilePage{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #E9EFF2;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: black;
    padding: 20px;
}
