.MenuPageContainer{
    width: 390px;
    display: flex;
    flex-direction: row;
    background-color: black;
    aspect-ratio: 70 / 93;
    background-position: right bottom;
    background-repeat: no-repeat; 
    background-size: 90%;
    color: white;
}
.BriefSection{
    width: 150px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.MenuSection{
    width: 240px;
    padding: 250px 8px 10px 18px;
}
.titleContent{
    font-weight: bold;
}
.line-1{
    margin-top: -5px;
    height: 1px;
    background-color: white;
    width: 100%;
}
.line-2{
    margin-top: 2px;
    height: 3px;
    background-color: white;
    width: 100%;
    margin-bottom: 5px;
}
.menuLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

@media only screen and (max-width: 912px) {
    .MenuPageContainer{
        width: 100vw;
        height: 100vh;
    }
}