.MainPageContainer{
    width: 390px;
    display: flex;
    flex-direction: column;
    background-color: white;
    aspect-ratio: 70 / 93;
    padding: 10px 8px;
    background-image: url("../../../../img/MainPage/background.png");
    background-position: right bottom;
    background-repeat: no-repeat; 
    background-size: 90%;
}

.nameSection{
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    margin-bottom: 0.1rem;
    padding-left: 0.1rem;
    z-index: 6;
    
}
.nameText{
    color: black;
}
a:link { text-decoration: none; }
a:hover { font-weight: bold; }

.logoSection{
    width: 70%;
}

.menuSection{
    display: inline-block;
    flex-direction: column;
    margin-top: 10px;
    width: fit-content;
}
.menuEnglish{
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-left: -2px;
}
.menuChinese{
    font-size: 16px;
    font-weight: lighter;
    color: black;
    margin-top: -5px;
}

@media only screen and (max-width: 912px) {
    .MainPageContainer{
        width: 100vw;
        height: 100vh;
    }
    .nameSection{
        font-size: 2vw;
    }
    .logoSection{
        width: 65vw;
    }
}
