.App{
  flex-direction: row;
}
.App-Header{
  max-height: 50px !important;
  min-height: 50px !important;
  align-items: center;
  display: flex;
}
.App-Page{
  max-height: calc(100vh - 50px) !important;
  min-height: calc(100vh - 50px) !important;
}

