.MainPage{
    text-align: center;
    background-color: #E9EFF2;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}